{% extends 'base.html' %}

{% block content %}

<main class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1 class="text-center display-3 py-5">TASKS PENDING</h1>

      <ul class="list-group" style="list-style: none;">
        {% for task in tasks %}
        <a href="{% url 'taskDetail' task.id %}" class="list-group-item list-group-item-action">
          <li>
            <header class="d-flex justify-content-between">
              {% if task.important %}
              <h1 class="fw-bold text-success">{{ task.title }}</h1>
              {% else %}
              <h1 class="fw-bold">{{ task.title }}</h1>
              {% endif %}
              <p>{{ task.user.username }}</p>
            </header>
            <p>{{ task.description }}</p>
            <p>{{ task.important }}</p>
            <p>{{ task.datecompleted|date:'j/m/Y' }}</p>
          </li>
        </a>

        {% endfor %}
      </ul>
    </div>
  </div>
</main>

{% endblock %}